@import "/src/const/variables.scss";

.menu-tab {
  .tab-list {
    border: $section-border;
    border-radius: $borderRadius-100;
    box-shadow: $card-shadow;
    padding: $padding-100;
    margin: 0 20px;
  }
  .content-section {
    height: fit-content;
    min-height: 76.5vh;
    border: $section-border;
    border-radius: $borderRadius-100;
    box-shadow: $card-shadow;
    padding: $padding-100;
    margin: 20px;
  }
}
