@import "./../../const/variables.scss";

.login-container {
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  overflow: hidden;

  .background-overlay {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/background/login-bg.jpg");
    background-size: cover;
    background-position: center;
  }

  .background-overlay::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5) 100%;
  }

  .login-card-container {
    background-color: white;
    max-height: 100%;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 10px;

    .login-card {
      display: flex;
      justify-content: center;
      flex-direction: row;  
      margin-top: 0.25rem;

      .login-left {
        width: 20rem;
      }

      .login-right {
        min-width: 30vw;
        max-width: 510px;

        .normal-login {
          text-align: end;

          div {
            margin-bottom: 1rem;
          }

          input {
            width: 100%;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 576px) {
  .login-container {
    .login-card-container {
      .login-card {
        .login-right {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .login-container {
    .login-card-container {
      .login-card {
        flex-direction: column;
  
        .login-right {
          min-width: 50vw;
          max-width: 510px;
        }
      }
    }
  }
}