@import "/src/const/variables.scss";

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .add-collection-card {
    width: 340.11px;
    height: 263px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed $primary-300;
    border-radius: $borderRadius-100;
    .card-content {
        .icon {
            font-size: 50px;
            color: $text-100;
        }
    }
  }
}
