@import "/src/const/variables.scss";

.assets-gallery-container {
  .gallery {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .add-asset-card {
      width: 450px;
      height: 286px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px dashed $primary-300;
      border-radius: $borderRadius-100;
      .icon {
        font-size: 50px;
        color: $text-100;
      }
    }
    .gallery__item {
      padding: 0;
      margin-bottom: 25px;
    }
  }
}
