@import "/src/const/variables.scss";

.filter-view {
  padding: 10px 0;
  .tag-carousel-section {
    position: relative;
    .category-carousel,
    .tag-carousel {
      position: relative;
      width: 100%;
      overflow-y: auto;

      // Hide scrollbar initially
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* Internet Explorer 10+ */

      &::-webkit-scrollbar {
        width: 0; /* Chrome, Safari, Opera */
      }

      // Show scrollbar on hover
      &:hover {
        scrollbar-width: auto; /* Firefox */
        -ms-overflow-style: auto; /* Internet Explorer 10+ */
      }
    }
  }
  .search-section {
    display: flex;
    flex-direction: row;
    .search-bar {
      width: fit-content;
      border-radius: 100px;
      background-color: $bg-200;
      padding: 8px;
      .search-input {
        border: none;
        background-color: transparent;
      }
    }
    .filter-btn {
      width: fit-content;
      height: fit-content;
      margin-left: 5px;
      padding: 8px;
      .pi-filter {
        font-size: 2rem;
      }
    }
  }
}
