@import "/src/const/variables.scss";

.title-container {
  text-align: center;
}
.artwork-images-container {
  img {
    border-radius: $borderRadius-100;
  }
}
.artwork-info-container {
  position: relative;
  .showmore-btn-container {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff00, $primary-100);
    padding: 3rem;
    position: absolute;
    top: -8.8rem;
  }

  .tags-aw-detail-container {
    .tag-aw-detail-item {
      box-shadow: 0 2px 5px #00000040;
      .tag-inline {
        text-decoration: none;
        color: $strong-200;
      }
    }
  }

  .licence-and-ai-container {
    font-style: italic;

    i{
      font-size: x-small;
      background-color: $bg-300;
      border-radius: 50px;
      padding: 0.25rem;
    }
  }

  .like-and-more-container {
    .like-btn-container,
    .like-view-comment-count-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }
    .like-view-comment-count-container {
      div {
        display: flex;
        gap: 0.25rem;
        align-items: center;
      }
    }
    .created-date-privacy-container{
      color: $gray-default;
    }
  }
}
