@import "/src/const/variables.scss";

.banner-container {
  margin-top: 34px;
  padding: 10px 0;
  border-radius: var(--shape-borderRadius-100, 24px);
  background: var(
    --linear-100,
    linear-gradient(
      104deg,
      rgba(113, 196, 239, 0.2) 0%,
      rgba(0, 102, 140, 0.2) 100%
    ),
    rgba(241, 241, 241, 0.1)
  );
  color: $text-100;
  h1 {
    font-size: $banner;
    font-weight: bolder;
  }
  p {
    font-size: $h3;
    font-weight: bolder;
  }
}
