@import '../../../const/variables.scss'; // Importing the variables.scss file

.menu-tab {
    .menu-tab__tabs {
        #news_tab, #following_tab {
            font-size: $h1-bold; 
            font-family: IBM Plex Sans;
            background-color: transparent;
            outline: 0;
            border: 0;
            cursor: pointer;
            margin: 10px;
        }
    }
}