@import "/src/const/variables.scss";

.chat-screen-container {
  height: calc(100vh - 106px);
  border: none;

  .first-col,
  .last-col {
    overflow-y: auto;
  }

  .middle-col {
    display: flex;
    flex-direction: column;
    border: solid 1px $linear-border-100;
    border-radius: $borderRadius-100;

    .reciever-name-container {
      border: solid 1px $linear-border-100;
      border-radius: $borderRadius-100;
      padding: 1rem 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }

    .chat-content-container {
      flex-grow: 1;
      overflow-y: auto;
    }

    .chat-input-container {
      background-color: #fff;
    }
  }
}
