@import "/src/const/variables.scss";

.chat-screen-container {
  max-height: calc(100vh - 106px);
  border: none;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  .first-col,
  .last-col {
    max-height: calc(100vh - 106px);
    overflow-y: auto;
  }

  .middle-col {
    max-height: calc(100vh - 106px);
    display: flex;
    flex-direction: column;
    border: solid 1px $linear-border-100;

    .reciever-name-container {
      border: solid 1px $linear-border-100;
      padding: 0 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .chat-content-container {
      flex-grow: 1;
      overflow-y: auto;
    }

    .chat-input-container {
      background-color: #fff;
    }
  }
}
