@import '/src/const/variables.scss';

.gallery {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .add-service-card {
        width: 450px;
        height: 286px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px dashed $primary-300;
        border-radius: $borderRadius-100;
        .p-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon {
                font-size: 50px;
                color: $text-100;
            }
        }
    }
}

.service-info-dialog, .service-review-dialog {
    width: fit-content;
    height: fit-content;
    min-width: 30vw;
    min-height: 40vh;
    .service-dialog-header {
        display: none;
    }
    .service-dialog-content {
        border-radius: 12px;
        padding: 20px;
    }
}