@import "./../../../const/variables.scss";

.comment-list-container {
  display: flex;
  flex-direction: column;
  gap: 22px;

  .comment-card {
    padding: 10px;
    border-bottom: solid 1px $primary-100;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}
