@import "/src/const/variables.scss";

.empty-template-container {
  color: $gray-default;
}

.item-container {
  .item-name-conatiner {
    width: 50%;
    p {
      width: 100%;
      overflow-wrap: break-word;
      text-align: start;
    }
    .validation-progress {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
    
      .validation-result {
        font-weight: bold;
    
        &.valid {
          color: green;
        }
    
        &.invalid {
          color: red;
        }
      }
    }
  }
}
