@import "./../const/variables.scss";

.assets-card-container {
  max-width: 1200px;
  max-height: 330px;
  width: 100%;
  padding-left: 12px;
  display: flex;
  border: 1px solid $bg-300;
  border-radius: 24px;
  .thumbnail-column-container {
    width: fit-content;
    height: fit-content;
    border-right: 1px solid $bg-300;
    padding: 12px 12px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .thumbnail {
      width: 300px;
      height: 250px;
      object-fit: cover;
      border-radius: $padding-100;
    }
    .number-of-items {
      background-color: transparent;
      border: 1px solid $strong-200;
      border-radius: $padding-100;
      color: $strong-200;
      margin: 12px 0 6px 0;
      padding: 10px;
    }
  }
  .detail-column-container {
    padding: 12px;
    min-width: 400px;
    .detail-column {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 21px;
      border-bottom: 1px solid $bg-300;
      .file-info {
        .file-name {
          font-size: $normal;
          color: $text-100;
          font-weight: 600;
        }
        .file-size {
          font-size: $normal;
          color: $gray-default;
        }
      }
      .file-type {
        span {
          padding: 0 6px;
          background-color: $primary-100;
          border-radius: $padding-100;
          text-transform: uppercase;
          font-size: $normal;
          color: $text-100;
        }
      }
      .file-price {
        width: fit-content;
        span {
          background-color: $strong-200;
          border-radius: $padding-100;
          padding: 0 6px;
          font-size: $normal;
          color: $bg-100;
          font-weight: 900;
        }
      }
      .file-action {
        .download-button,
        .edit-button,
        .remove-button {
          background-color: transparent;
          color: $primary-300;
        }
      }
    }
  }
}
