#collection-card {
    background-size: cover !important;
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    width: 340.11px !important;
    height: 263px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  