.collection-card-container {
  width: fit-content;
  position: relative;
  #collection-card {
    background-size: cover !important;
    background-color: rgba(182, 182, 182, 0.5) !important;
    border: none !important;
    outline: none !important;
    width: 340.11px !important;
    height: 263px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;

    span {
      color: white;
    }
  }

  .need-to-subscribe-btn {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
    cursor: pointer;
  }
}
