.footer {
    position: relative;
    z-index: 1;
    .menubar {
        width: 100%;
        padding: 0;
        border-radius: 0;
        & * > .p-menuitem-link {
            padding: 0.2rem 1rem;
            font-size: 12px;
        }
        img: {
            width: 100px;
            padding: 0;
        }
    }
}