@import "/src/const/variables.scss";
.profile-preview-container {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Replace start with flex-start */
  align-items: center;
  color: black;
  .avatar-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .hire-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .project-completed {
      padding: 10px;
      border: 1px solid $strong-200;
      border-radius: 12px;
      background-color: $bg-100;
      color: $text-200;
      font-size: 15px;
      font-weight: 900;
      margin-right: 10px;
    }
    .verrified-icon {
      color: $strong-200;
      font-size: 28px;
    }
  }
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    .left-button {
      width: 150px;
      text-align: center;
      font-size: 15px;
      background-color: $strong-200;
      color: $bg-100;
      border: 1px solid $strong-200;
      &:hover {
        background-color: $strong-100;
        color: $bg-100;
        border: 1px solid $strong-100;
      }
    }
    .right-button {
      width: 150px !important;
      font-size: 15px;
      background-color: transparent;
      color: $strong-200;
      border: 1px solid $strong-200;
      &:hover {
        background-color: $primary-200;
        color: $strong-200;
        border: 1px solid $primary-200;
      }
    }
  }
}
