@import '/src/const/variables.scss';

.service-card-container {
  background-size: cover ;
  background-color: transparent ;
  outline: none ;
  border-radius: $borderRadius-100 ;
  width: 450px ;
  height: 286px ;
  display: flex ;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-shadow: $card-shadow;
  .information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white ;
    color: $primary-300 ;
    width: 100% ;
    border-radius: 0px 0px 12px 12px;
    .service-card-details-top {
      .service-name {
        font-weight: 900 ;
      }
      .starting-price {
        font-weight: 900 ;
        color: $strong-200;
      }
    }
    .hire-button-container {
      .hire-button {
        background-color: $strong-200;
        color: $bg-100;
      }
    }
  }
}
