@import "./../../const/variables.scss";

.square-button-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  color: $text-100;
  cursor: pointer;
  .square-button-thumbnail-container {
    width: 81px;
    height: 81px;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
