@import "/src/const/variables.scss";

.propo-noti-container {
  width: 100%;
  text-align: start;
  padding: 0 1.5rem;

  .btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem 0;

    .btn-accept {
      background-color: $strong-100;
      color: white;

      &:hover {
        background-color: $strong-200;
      }
    }
    .upload-proposal-assets-container {
      background-color: $bg-200;
      padding: 1rem;
      border-radius: 6px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      box-shadow: $card-shadow;

      .p-button {
        width: fit-content;
      }
    }
  }
}
