@import "/src/const/variables.scss";

.profile-screen-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .profile-information-container, .profile-menu-container {
    padding: 0 5px;
  }
  .profile-information-container {
    height: 85vh;
    border: $section-border;
    border-radius: $borderRadius-100;
    box-shadow: $card-shadow;
    padding: $padding-100;
  }
}
