@import "../../../const/variables.scss";

.new-asset-section-dialog {
  .upload-asset-note-container{
    span{
      color: gray;
      font-style: italic;
    }
  }
  .p-dialog-header {
    border: none;
    .p-dialog-title {
      font-size: 17px;
      line-height: 23px;
    }
    .p-dialog-header-icons {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  form {
    .asset-inputs {
        border: solid 2px $bg-300;
        border-bottom: none;
        border-radius: 24px;
        padding: 1rem;
      label {
        font-size: 15px;
        font-weight: bolder;
        line-height: 17.5px;
      }
      .input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        input,
        span {
          width: 100%;
        }

        input::placeholder {
          color: $bg-300;
        }
      }
    }
  }
  .p-dialog-footer {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    border: none;
  }
}
