@import "/src/const/variables.scss";

.chat-content {
  .chat-scroll-area {
    height: 100%;
    overflow-y: auto;
    padding: 0 20px;

    .system-noti-card {
      width: 90%;
      padding: 12px;
      margin: 5%;
      border-radius: $borderRadius-100;
      box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
      text-align: center;

      .sys-noti-title {
        text-align: center;
        color: $strong-200;
      }

      .sys-noti-header-img {
        text-align: center;
        width: 120px;
      }
    }
  }
}
