@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "/src/const/variables.scss";

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400; //regular
  font-family: "IBM Plex Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
  }

  .text-cus-title {
    margin: 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 18.2px;
  }

  .text-cus-h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500; //medium
    line-height: 31.2px;
  }

  .text-cus-h1-bold {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
  }

  .text-cus-h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500; //medium
    line-height: 26px;
  }

  .text-cus-h2-bold {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
  }

  .text-cus-h3 {
    margin: 0;
    font-size: 17px;
    font-weight: 500; //medium
    line-height: 20.8px;
  }

  .text-cus-h3-bold {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 20.8px;
  }

  .text-cus-normal {
    margin: 0;
    font-size: 14px;
    font-weight: 400; //regular
    line-height: 18.2px;
  }

  .text-cus-normal-bold {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 18.2px;
  }

  .text-cus-small {
    margin: 0;
    font-size: 12px;
    font-weight: 400; //regular
    line-height: 15.6px;
  }

  .text-cus-small-bold {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 15.6px;
  }

  .err-page-container {
    position: absolute;
    width: 100%;
    z-index: 11;
    top: 0;
    background-color: white;
  }
}

.preview-container {
  border-radius: $borderRadius-100;
  height: 100%;
  background-color: $primary-100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;

  .empty-template {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38vh;
    span {
      color: $strong-200;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Custom scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-200;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $strong-200;
}

.p-confirm-dialog-reject {
  border-radius: 50px;
  background-color: $primary-100;
  color: $strong-200;

  &:hover {
    background-color: $strong-100;
    color: $bg-100;
  }
}

.p-confirm-dialog-accept {
  border-radius: 50px;
  background-color: $strong-100;
  color: $bg-100;

  &:hover {
    background-color: $strong-200;
  }
}

.p-rating-item-active svg {
  color: $strong-200;
}
