@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Inter&display=swap");
@import "/src/const/variables.scss";

body {
  margin: 0;
  font-size: 14px;
  font-weight: 400; //regular
  font-family: "IBM Plex Sans", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
  }

  .text-cus-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 18.2px;
  }

  .text-cus-h1 {
    font-size: 24px;
    font-weight: 500; //medium
    line-height: 31.2px;
  }

  .text-cus-h1-bold {
    font-size: 24px;
    font-weight: bold;
    line-height: 31.2px;
  }

  .text-cus-h2 {
    font-size: 20px;
    font-weight: 500; //medium
    line-height: 26px;
  }

  .text-cus-h2-bold {
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
  }

  .text-cus-h3 {
    font-size: 17px;
    font-weight: 500; //medium
    line-height: 20.8px;
  }

  .text-cus-h3-bold {
    font-size: 17px;
    font-weight: bold;
    line-height: 20.8px;
  }

  .text-cus-normal {
    font-size: 14px;
    font-weight: 400; //regular
    line-height: 18.2px;
  }

  .text-cus-normal-bold {
    font-size: 14px;
    font-weight: bold;
    line-height: 18.2px;
  }

  .text-cus-small {
    font-size: 12px;
    font-weight: 400; //regular
    line-height: 15.6px;
  }

  .text-cus-small-bold {
    font-size: 12px;
    font-weight: bold;
    line-height: 15.6px;
  }

  .err-page-container {
    position: absolute;
    min-width: 100vw;
    z-index: 11;
    top: 0;
    background-color: white;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Custom scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary-200;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $strong-200;
}
